[IMAGE]
image = /home/pi/webcam/latest.jpg
output = /var/www/html/roi.png
fogfolder = /home/pi/mist_detector
roi_y1 = 180
roi_y2 = 300
roi_x1 = 900
roi_x2 = 1150

[THRESHOLD]
blur = 15
brightness = 100

[INFLUX]
host = localhost
port = 8086
user = usr
password = pass

[GOOGLE]
url = https://script.google.com/macros/s/...../exec

[SIGNAL]
paul = +31234567890
dominique = +31234567891

