[DEFAULT]
image = /home/pi/webcam/latest.jpg
output = /var/www/html/roi.png
fogfolder = /home/pi/mist_detector
roi_y1 = 180
roi_y2 = 300
roi_x1 = 900
roi_x2 = 1150

[THRESHOLD]
blur = 15
brightness = 100

[INFLUX]
user = [username]
password = [password]

[GOOGLE]
url = https://script.google.com/macros/s/[some ID]/exec

[SIGNAL]
bosgnoom = '+31234567890'
